<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>

  <p>
    エントリー
  <p th:if="${User}">
  <div th:each="user,stat:${User}">
    <tr>
      <td>・[[${user.userName}]] </td>
    </tr>
  </div>
  </p>
  <a href="/jankengame?hand=Gu&re=Draw">ぐー</a>
  <a href="/jankengame?hand=Cho&re=Lose">ちょき</a>
  <a href="/jankengame?hand=Pa&re=Win">ぱー</a>
  <div th:if="${result}">
    <div th:if="${te}">
      あなたの手 [[${te}]]<br>
      相手の手 Gu<br>
      結果 [[${result}]]<br>
    </div>
  </div>
  </p>
</body>

</html>
