<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Match</h1>

  <p th:if="${users}">
  <h2>
    [[${loginUser}]] V.S. [[${users.userName}]]
  </h2>
  </p>

  <a th:href="@{/wait(id=${users.id},hand=Gu,re=Draw)}">ぐー</a>
  <a th:href="@{/wait(id=${users.id},hand=Choki,re=Lose)}">ちょき</a>
  <a th:href="@{/wait(id=${users.id},hand=Pa,re=Win)}">ぱー</a>

  <p>
  <div th:if="${result}">
    <div th:if="${te}">
      あなたの手 [[${te}]]<br>
      相手の手 Gu<br>
      結果 [[${result}]]<br>
    </div>
  </div>
  </p>

  <a href="/janken">もどる</a>

</body>

</html>
